
body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin:0;
  padding:0;
}

*::before, *::after {
  box-sizing: inherit;
}

.slideshow-container {
  position: relative;
}
.controls {
  position: absolute;
  top: 0;
  bottom:0;
  right: 0;
  left: 0;
  z-index: 30;
}
.control {
  transition: opacity 0.2s ease-out;
  color: transparent;
  cursor: pointer;
  position: absolute;
  padding: 0.5rem;
  opacity: 0.4;
}
.control:hover {
  opacity: 1;
}
.left-control {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat center;
  top: 5rem;
  left: 1rem;
}
.right-control {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat center;
  top: 5rem;
  right: 1rem;
}
.progress-bar {
  list-style: none;
  position: absolute;
  bottom:0;
  width: 100%;
  text-align: center;
}
.progress-bar-item {
  display: inline-block;
  border: 1px solid black;
  width: 8px;
  height: 8px;
  /* border-radius: 50%; */
}
.progress-current {
  background-color: black;
}
.slideshow {
  background-color: #eee;
  position: relative;
  width: 100%;
  height: 12rem;
  padding: 1rem;
}

.slideshow-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 4rem;
  transition: all 1s;
  transform: translateX(100%);
  z-index: 10;
  opacity: 0;
}

.current {
  transform: translateX(0);
  z-index: 20;
  opacity: 1;
}

.leaving {
  transform: translateX(-100%);
  opacity: 0;
}

.slideshow-item:nth-child(1) {
  background-color: aqua;
}
.slideshow-item:nth-child(2) {
  background-color: aquamarine;
}
.slideshow-item:nth-child(3) {
  background-color: bisque;
}
.slideshow-item:nth-child(4) {
  background-color: chartreuse;
}