
body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

.slideshow {
  background-color: #eee;
  position: relative;
  width: 100%;
  height: 12rem;
  padding: 1rem;
}

.slideshow .content {
  width: 100%;
}

.slideshow-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 4rem;
  transition: all 0.5s;
  transform: translateX(100%);
  z-index: 10;
  opacity: 0;
}

.current {
  transform: translateX(0);
  z-index: 20;
  opacity: 1;
}

.leaving {
  transform: translateX(-100%);
  opacity: 0;
}